header{
    background-color: #4265E0;
    width: 100%;
    padding: 30px;
    
}
header a {
    color: black;
    text-decoration: none;
}
header .container{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    
}
ul.header-ul {
    display: flex;
}
.clear{
    clear: both;
}
.header-logo{
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.2rem;
    cursor: pointer;
}


.header-li{
    font-weight: 300;
    letter-spacing: 0.2rem;
    list-style-type: none;
    margin-left: 15px;
    cursor: pointer;
    font-size: 20px;
}

.header-li:hover{
    border-bottom: 1px solid black;
}